// scenarioFactors.scss

.scenario {
  &__text
    &-description {

  }
  &__factor{
    margin-bottom: 20px;
    
    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items:start;
      justify-content:left;
    }

    &-hint {
      &__text {
        display: flex;
        flex-direction: column;
        gap: 6px;
        

        &-pos {
          color: #2E7D32;
          margin: 0px;
        }
        &-neg {
          color: #D3302F;
          margin: 0px;
        }
      }
    }
  }

  &__actionButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
}